.fleche {
    background-color:#ff8000;
    cursor:pointer;
}

.droite {
    width: 20px;
    height: 32px;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.gauche {
    width: 20px;
    height: 32px;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}